@font-face {
    font-family: tungsten;
    src: url(static/TungstenRnd-Bold.otf);
    font-weight: 600;
}

@font-face {
    font-family: tungsten;
    src: url(static/TungstenRnd-Semibold.otf);
    font-weight: 400;
}

@font-face {
    font-family: tungsten;
    src: url(static/TungstenRnd-Light.otf);
    font-weight: 200;
}



h1, h2, p {
    margin: 0;
}

/*
	DEBUG
*/

#n-e .debug #stepIndic {
	display: block;
	text-align: center;
	padding: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 8rem;
	font-weight: 900;
	color: green;
}

#n-e .debug .st0 {
	stroke:yellow;
}

#n-e .debug .st1 {
	fill:#FF0000;
}

#n-e .debug .step.is-active p {
	background-color: goldenrod;
	color: #3b3b3b;
}

#n-e .debug .step {
	background-color: rgba(0,0,0,0.1);
}

#n-e .debug svg {
	background-color: rgba(170,200,200,0.3);
}




#n-e {
	font: 18px /1.5em "sourceserifpro-regular", serif;
	  text-rendering: optimizeLegibility;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	  -moz-font-feature-settings: "liga" on;
      color: #222;
}


#n-e .title-1,
#n-e .title-2 {
	font-family: tungsten, sans-serif;
	line-height: 0.9em;
}

#n-e .title-1 {
	font-size: 5em;
	margin-top: 0.25em;
	margin-bottom: 0.4em;
}

#n-e .title-2 {
    font-size: 2em;
    margin-bottom: 0.4em;
    font-weight: 400;
}


#n-e .contentWidthWrap,
#n-e .headerText,
#n-e .mapTextOverlay {
	max-width: 650px;
}

#n-e .contentWidthWrap {
	position: relative;
	z-index: 1;
    /*max-width: 725px;*/
    margin-left: auto;
    margin-right: auto;
    padding: 0 17px;
}

#n-e .header {
	margin-bottom: 3em;
	position: relative;
	min-height: 100vh;
}

	#n-e .bgc img{
		min-width: 100%;
		height: 100vh;
		object-fit: cover;
		display: block;
	}
	
	#n-e .headerText {
		color: #fff;
		position: absolute;
		top: 0;
		height: 100vh;
		left: 0; 
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 1em;

		margin-left: auto;
		margin-right: auto;
		max-width: 700px;
		padding-bottom: 2em;
		padding: 0 17px;
	}
		
		#n-e .header::before {
			content: "";
			position: absolute;
			width: 100%;
			bottom: 0;
		    height: 200px;
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
		}

	#n-e .headerText .title-1 {
			margin-left: auto;
			margin-right: auto;
			max-width: 850px;
			color: #58BC59;
			color: #B8E05F;
			color: #f71b54;
			color: #8F293A;
			color: #cb4d62;
	}
		#n-e .chapo :first-child:first-letter,
		#n-e .headerText .title-1 {
			color: hsla(340, 87%, 44%, 1);
		}


	#n-e .lead {
		font-size: 1em;
		line-height: 1.2;
		margin-top: 0;
		position: relative;
	}

	#n-e .subtitle {
		display: block;
		font-family: tungsten,sans-serif;
		font-weight: 400;
		text-transform: uppercase;
		position: relative;
		margin-top: 0;
		margin-bottom: 2.75em;
		font-size: 1.5em;
		line-height: 1.2em;
	}
		/*#n-e .subtitle::after {
			content: "";
			position: absolute;
			width: 81px;
			height: 2px;
			background-color: #fff;
			opacity: 0.3;
			top: 0;
			left: 50%;
			margin-left: -40px;
		}*/


#n-e .chapo {
	margin-bottom: 2em;
}

	#n-e .chapo p:not(:last-child) {
		margin-bottom: 1em;
	}

		#n-e .chapo :first-child:first-letter {
			display: inline-block;
			float: left;
			font-size: 5em;
			line-height: 0.8em;
			margin-right: 10px;
			margin-bottom: 0;
			margin-top: 10px;
			font-weight: bold;
		}


#n-e .commonText p:not(:last-child) {
	margin-bottom: 1em;
}

	#n-e .legendGraph {
		font-weight: 600;
		margin-bottom: 1em;
	}


#n-e .migrantDistributionGraph h2 {
	/*margin-bottom: 1.4em;
	text-align: center;*/
    margin-bottom: 0.8em;
}

#n-e .migrantDistributionGraph svg {
	overflow: visible;
}

	#n-e .graphLeftScale path{
		stroke: transparent;
	}


	#n-e .graphLeftScale text {
	    font-size: 2.75em;
		font-weight: 200;
		fill: black;
		font-family: tungsten;
	}


#n-e .relativPopulationGraph {
	margin-bottom: 2em;
}

	#n-e .wrappBar {
		height: calc(100% - 80px);
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
		#n-e .wrappBar .graphCountry {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
		}

		#n-e .wrappBar .bloc {
			width: 42%;
			height: 100%;
			font-size: 2.6em;
			word-break: break-word;
			line-height: 9px;
			letter-spacing: -4px;
			padding-bottom: 10px;
			color: #87CEFA;
			margin-top: 0px;
			text-align: right;
			margin-top: -4px;
		}
		#n-e .wrappBar .bloc.qatar {color: #8B0000;}

		#n-e .wrappBar .graphCountry p {
			font-family: tungsten;
			font-size: 1.25em;
			font-weight: 200;
			margin-left: 10px;
		}
			#n-e .wrappBar .graphCountry p span{
				font-size: 0.7em;
				font-variant: italic;
			}

			/*#n-e .wrappBar .graphCountry:nth-last-child(2)  p {
				margin-top: 5px;
			}*/

			/*#n-e .wrappBar .graphCountry:last-child p {
		        margin-top: 10px;
			}*/

/*

	MAP

*/
#n-e #scrolly {
	position: relative;

	margin-bottom: 3em;
}

#n-e .mapContainer {
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	width: 100%;
	margin: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	background-color: #8a8a8a;
	background-color: #fff;
}

	#n-e #stepIndic {
		display: none;
	}


#n-e .mapTextOverlay {
	position: relative;
	padding: 0;
	margin: 0 auto;
}

	#n-e .step {
		margin: 0 auto 2rem auto;
		height: 150vh;
	}

	#n-e .step:first-child {
	    margin-top: -100vh;
	}

	#n-e .step:last-child {
		margin-bottom: 0;
	}


	#n-e .step p {
		padding: 1em 2em;
	    background: rgba(255,255,255,0.88);
	}

	#n-e .step .scrollama__debug-offset {
		display: block;
	}

	#n-e .date {
		position: absolute;
		top: 25px;
		width: 100%;
		text-align: center;
		font-weight: 200;
		font-family: tungsten;
		line-height: 1em;
		font-size: 3em;
		transition: 0.3s opacity;
	}

#n-e .legend {
	position: absolute;
	bottom: 30px;
	background-color: #fff;
	font-size: 1.2em;
}

	#n-e .legend .label {
		font-weight: 400;
		font-family: tungsten;
		margin: 0;
		line-height: 1em;
		display: inline-block;
		margin: 0 10px;
		min-width: 70px;
	}
		#n-e .legend .label:first-child {
			display: block;
		}

		#n-e .legend .qatar,
		#n-e .legend .scale {
			margin-bottom: 1em;
		}


		#n-e .legend .label.migrant::before,
		#n-e .legend .label.qatar::before {
			content: "";
			width: 4px;
			vertical-align: middle;
			margin-right: 0.4em;
		}
		
		#n-e .legend .label.scale::before {
			content: "";
			vertical-align: middle;
			margin-right: 0.4em;
			display: inline-block;
			border-radius: 50%;
			width: 6px;
			height: 6px;
			border: 1px solid;
			background-color: transparent;
			margin-bottom: 4px;
		}

		#n-e .legend .label.qatar::before,
		#n-e .legend .label.migrant::before {
			display: block;
			margin-top: 0px;
			height: 41px;
			float: left;
		}
		
		#n-e .legend .label.qatar::before { background-color: #8B0000;	}
		#n-e .legend .label.migrant::before { background-color: #87CEFA;	}

		
			#n-e .legend .populationAmount {
				font-weight: 200;
				display: block;
			}

/* Step display  */

#n-e .step-0 .legend,
#n-e .step-1 .legend,
#n-e .step-2 .legend,
#n-e .step-3 .legend {
	opacity: 1;
}

#n-e .step-0 svg,
#n-e .step-1 svg,
#n-e .step-2 svg,
#n-e .step-3 svg {
	opacity: 1;
}


#n-e .step-1 .date,
#n-e .step-2 .date,
#n-e .step-3 .date {
	opacity: 1;
}

/*#n-e .countryName:not(.qatar),*/
#n-e .indicator,
#n-e .legend,
#n-e .date{
	opacity: 0;
}



/* ------------------------------------------------------------

							SVG

------------------------------------------------------------*/


#n-e .map svg {
	background-size: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	transition: 0.3s opacity;
	position: relative;
}

#n-e .map text {
	font-family: tungsten;
	opacity: 0;
	transition: 0.3s opacity;
}

#n-e .map text.countryName {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.85em;
}

#n-e .map text.countryNbr {
	transform: translateY(27px);
	font-size: 1.5em;
	font-weight: 200;
}


#n-e .map svg #qatar text {
	font-size: 3.5em;
}


#n-e .map rect {
	fill: none;
	pointer-events: all;
}

#n-e .map path {
	transition: 0.5s fill;
}

#n-e .deathTollGraph img {
	width: 11px;
	margin-right: 2px;
}

@media (min-width: 768px) {

	#n-e .subtitle {
		font-size: 1.5em;
		font-size: 2em;
		font-weight: 200;
	}

	#n-e .header::before {
		height: 400px;
		background-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
	}

	#n-e .headerText {
		padding-bottom: 2em;
		justify-content: flex-end;
	}

	#n-e .step p {
		padding: 1em 17px;
	}

	#n-e  .mapContainer .imgContainer {
		height: 100%;
		width: auto;
		background-image: url(img/mapFullHeight2.png);
		background-size: 100% auto;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: center;
		opacity: 0;
	}
		#n-e [class*="step"] .mapContainer .imgContainer {
			opacity: 0.3;
			transition: 1.2s opacity;
		}

		#n-e .mapContainer::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 50px;
			background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
		}


		#n-e .mapContainer.horizontal {
			background-size: 100% auto;
		}

	#n-e .lead {
		font-size: 1.1em;
	}

	#n-e .legend {
		padding: 20px;
		left: 40px;
		bottom: 40px;
	}
		#n-e .legend p {
			display: block;
		}

	/* Step display  */
	#n-e #qatar path{
		fill: #B3B5B6;
	}
	

	#n-e .map svg #qatar text {
		opacity: 1;
	}

	#n-e svg {
		opacity: 1;
	}


	#n-e .step-0 svg,
	#n-e .step-1 svg,
	#n-e .step-2 svg,
	#n-e .step-3 svg {
		opacity: 1;
	}

	#n-e .step-0 .legend {
		opacity: 1;
	}

	#n-e .step-1 text,
	#n-e .step-1 .indicator,
	#n-e .step-1 .legend{
		opacity: 1;
	}
	#n-e .step-1 .countryGroup path{
		fill: #dcdfe0;
	}

	#n-e .step-2 text,
	#n-e .step-2 .indicator,
	#n-e .step-2 .legend {
		opacity: 1;
	}
	#n-e .step-2 .countryGroup path{
		fill: #dcdfe0;
	}

	#n-e .step-3 text,
	#n-e .step-3 .indicator,
	#n-e .step-3 .legend{
		opacity: 1;
	}
	#n-e .step-3 .countryGroup path{
		fill: #dcdfe0;
	}
}


@media (min-width: 1024px) {

	#n-e .mapContainer .imgContainer {
		/*background-image: url(img/mapFullLength2.png);
		background-size: auto 100%;*/
	}

	
	#n-e .title-1 {
	    font-size: 5.4em;
	    line-height: 0.86em;
	}

	#n-e .date {
		top: auto;
		bottom: 50px;
		font-size: 5em;
	}

	#n-e .subtitle {
		margin-bottom: .2em;
		line-height: 0.86em;
	}
	
	#n-e .header,
	#n-e .bgc img {
		min-height: 110vh;
	}

}

@media (min-width: 1025px) {
	#n-e .mapContainer .imgContainer {
		background-image: url(img/mapFullLength2.png);
		background-size: auto 100%;
	}

}